@{
  Layout = "_Layout";
}

@using Factory.Models;
@model Factory.Models.Machine

<h2>Machine: @Html.DisplayFor(model => model.MachineName)</h2>
<h4>Add Engineer to list of those licensed to repair this machine</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.Label("Select Engineer")
  @Html.DropDownList("EngineerId")

  <input type="submit" value="Save" />
}

<br>
<br>
<p>@Html.ActionLink("Back to list of machines", "Index")</p>
<p>@Html.ActionLink("Home page", "Index", "Home")</p>