@{
  Layout = "_Layout";
}

@using Factory.Models;
@model Factory.Models.Machine

<h2>Add to list of Engineers licensed to repair this machine</h2>

<h4>Machine Name: @Html.DisplayFor(model => model.MachineName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.MachineId)

    @Html.Label("Select Engineer")
    @Html.DropDownList("EngineerId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>