@{
  Layout = "_Layout";
}

@using Factory.Models;
@model Factory.Models.Machine;

<h4>Add Machine</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.MachineName)
    @Html.TextBoxFor(model => model.MachineName)

    @Html.LabelFor(model => model.MachineType)
    @Html.TextBoxFor(model => model.MachineType)

    @Html.Label("Select engineer")
    @Html.DropDownList("EngineerId")

    <input type="submit" value="Add new machine" class="btn btn-default" />
}
<p>@Html.ActionLink("Back to list of all machines", "Index")</p>
<p>@Html.ActionLink("Home page", "Index", "Home")</p>