@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Machine Details</h2>
<hr />
<h3>@Html.Label("Machine Name: ") @Html.DisplayFor(model => model.MachineName)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This machine does not belong to any engineers</p>
  <p>Machine Type: @Html.DisplayFor(model => model.MachineType)</p>
}
else
{
  <h4>Engineers the machine belongs to:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Engineer.EngineerName</li>
  }
  <p>Machine Type: @Html.DisplayFor(model => model.MachineType)</p>
  </ul>
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Add a Engineer", "AddEngineer", new { id = Model.MachineId })</p>