@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Machine Details</h2>
<hr />
<h3>@Html.Label("Machine Name: ") @Html.DisplayFor(model => model.MachineName)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>No Engineers are licensed to repair this machine</p>
  <p>@Html.DisplayFor(model => model.MachineType)</p>
}
else
{
  <h4>All Engineers licensed to repair this machine:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>Name: @join.Engineer.EngineerName | Specialty:  @join.Engineer.EngineerSpecialty</li>
  }
  <p>@Html.DisplayFor(model => model.MachineType)</p>
  </ul>
}

<p>@Html.ActionLink("Add an Engineer to list of those able to repair this machine", "AddEngineer", new { id = Model.MachineId })</p>
<br>
<p>@Html.ActionLink("Edit this Machine's details", "Edit", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Delete this Machine", "Delete", new { id = Model.MachineId })</p>

<hr>
<br>
<p>@Html.ActionLink("Back to list of machines", "Index")</p>
<p>@Html.ActionLink("Home page", "Index", "Home")</p>