@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Engineer Details</h2>
<hr />
<h5>@Html.Label("Engineer Name: ") @Html.DisplayFor(model => model.EngineerName)</h5>
<h5>@Html.Label("Engineer Specialty: ") @Html.DisplayFor(model => model.EngineerSpecialty)</h5>


@if(@Model.JoinEntities.Count == 0)
{
  <p>This Engineer isn't licensed to repair any machines</p>
}
else
{
  <h5>All machines this engineer is licensed to repair:</h5>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Machine.MachineName</li>
  }
  </ul>
}

<p>@Html.ActionLink("Add to list of machines this engineer is licensed to repair ", "AddMachine", new { id = Model.EngineerId })</p
<br>
<br>
<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>

<hr />
<br>
<p>@Html.ActionLink("Back to list of Engineer", "Index")</p>
<p>@Html.ActionLink("Home Page", "Index", "Home")</p>